@using Newtonsoft.Json;
@model MarioKartStatistics.Controllers.HomeViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title!!</title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Latest results</h1>
        <table class="table">
            <thead>
                <tr>
                    <td class="col-md-1"><h3>Date</h3></td>
                    <td class="col-md-1"><h3>Player</h3></td>
                    <td class="col-md-1"><h3>Points</h3></td>
                </tr>
            </thead>
            <tbody data-bind="foreach: allHeats">
                <tr>
                    <!-- ko if: isWinner -->
                    <td data-bind="text: date" class="col-md-1 success"></td>
                    <!-- /ko -->
                    <!-- ko ifnot: isWinner -->
                    <td class="col-md-1"></td>
                    <!-- /ko -->
                    <td data-bind="text: name" class="col-md-1"></td>
                    <td data-bind="text: points" class="col-md-1"></td>
                </tr>
            </tbody>
        </table>
        <h1>NEW</h1>
        @using (Html.BeginForm("AddResult", "Home", FormMethod.Post, new { @class = "form-vertical", role = "form" }))
        {
            <table class="col-md-4">
                <thead>
                    <tr>
                        <td class="col-md-2">Player</td>
                        <td class="col-md-1">Points</td>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < 4; i++)
                    {
                        <tr>
                            <td class="col-md-2">
                                <div class="form-group">
                                    <select name="Scores[@i].Player" class="form-control">
                                        <option selected disabled hidden value=""></option>
                                        @foreach (var player in Model.Players)
                                        {
                                            <option value="@player.Id">@player.Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td class="col-md-1">
                                <div class="form-group">
                                    <input name="Scores[@i].Points" type="number" class="form-control" />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        }
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/bootstrap.js"></script>
    <script src="~/lib/knockout/knockout.js"></script>
    <script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
    <script type="text/javascript">
        var modelJson = '@Html.Raw(JsonConvert.SerializeObject(Model))';
        var model = JSON.parse(modelJson);

        var viewModel = {
            heats: ko.observableArray(),
            allHeats: ko.observableArray(),
        };

        model.Heats.forEach(function (heat) {
            var winner = heat.Scores[0];
            heat.Scores.forEach(function (score) {
                var isWinner = score === winner;
                var scoreViewModel = {
                    isWinner: isWinner,
                    date: heat.Date,
                    name: score.PlayerName,
                    points: score.Score,
                };
                viewModel.allHeats.push(scoreViewModel);
            });
        });

        ko.applyBindings(viewModel);
        var rowClicked = function (heatNumber) {
            var elements = $(".heat" + heatNumber);
            elements.css("display", "table-row")
        };
    </script>
</body>
</html>